@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --faded: #434343;
  --highlight: #D83A49;
  --light-faded: #A4A4A4;
  --primary: #787878;
  --title: #E3E3E3;
  --cursor: white;
  --cursor-outline: hsla(0, 0%, 100%, 0.5);

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-faded: var(--faded);
  --color-highlight : var(--highlight);
  --color-light-faded : var(--light-faded);
  --color-primary : var(--primary);
  --color-title : var(--title);
  --color-cursor: var(--cursor);
  --color-cursor-outline: var(--cursor-outline);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0D0D0D;
    --foreground: #ededed;
    --faded: #434343;
    --highlight: #D83A49;
    --light-faded: #A4A4A4;
    --primary: #787878;
    --title: #E3E3E3;
    --cursor: white;
    --cursor-outline: hsla(0, 0%, 100%, 0.5);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  cursor: none;
}

a {
  cursor: none;
}

.writing-mode-vertical-rl {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

/* Custom cursor utilities */
.cursor-outline-transition {
  transition: width 180ms ease, height 180ms ease, border-radius 180ms ease,
    background-color 180ms ease, border-color 350ms ease;
}

.cursor-outline-active {
  width: 50px;
  height: 50px;
  background-color: var(--color-cursor-outline);
  border-color: transparent;
}
