@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --faded: #434343;
  --highlight: #D73A49;
  --light-faded: #A4A4A4;
  --primary: #787878;
  --title: #E3E3E3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-faded: var(--faded);
  --color-highlight : var(--highlight);
  --color-light-faded : var(--light-faded);
  --color-primary : var(--primary);
  --color-title : var(--title);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0D0D0D;
    --foreground: #ededed;
    --faded: #434343;
    --highlight: #F97583;
    --light-faded: #A4A4A4;
    --primary: #787878;
     --title: #E3E3E3;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.writing-mode-vertical-rl {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
