@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --faded: #434343;
  --highlight: #D73A49;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-faded: var(--faded);
  --color-highlight : var(--highlight);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0D0D0D;
    --foreground: #ededed;
    --faded: #434343;
    --highlight: #F97583;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
